<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="dark">
                <p class="text-dark">
                    Bioengineer by training, turned data engineer/scientist with a twist on health data product ownership, development and nurturing incredible teams! Working as Product Owner and data engineer/scientist.<br>
                    In this day and age, health is the thing that is common with everyone. Despite this, it is also a sector that is still lacking in innovation, with healthcare services constantly failing throughout the world.<br>
                    So my main goal is to make a positive impact in the world of health through ethical technology, bringing patients, healthcare professionals, and tech closer together.
                </p>
            </div>
        </div>
    </div>
</section>