<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="dark">
                <p class="text-dark">
                    Currently working as Product Owner with heavy focus on the technical side, specifically data engineering and science. <br>
                    The health sector still lacks innovation, with healthcare services constantly failing throughout the world and no value being extracted from the data.<br>
                    My main goal is to use this skills to extract value from real world data (RWD) collected from patients and clinicians, by developing powerful
                    end-to-end data pipelines, from source to harmonization to analysis. <br>
                    By doing so, I hope to make a positive impact in the world of health bringing patients, healthcare professionals, and tech closer together. <br>
                </p>
            </div>
        </div>
    </div>
</section>