<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cover Letter</h2>
                <hr class="light">
                <p class="text-faded">In this day and age, health is the thing that is common with everyone. Despite this, it is also a sector that is still lacking in
                    innovation, with healthcare services constantly failing throughout the world.
                    So my main goal is to make a positive impact in the world of health through ethical technology, bringing patients,
                    healthcare professional and tech closer together.</p>
                <a href="#" class="btn btn-default btn-xl">Full CV</a>
            </div>
        </div>
    </div>
</section>
