<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">
                    Bioengineer by training, turned data engineer/scientist with a twist on health data product ownership, development and nurturing incredible teams! Working as Product Owner and data engineer/scientist.<br>
                    In this day and age, health is the thing that is common with everyone. Despite this, it is also a sector that is still lacking in innovation, with healthcare services constantly failing throughout the world.<br>
                    So my main goal is to make a positive impact in the world of health through ethical technology, bringing patients, healthcare professionals, and tech closer together.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Experience</h2>
                <hr class="light">
                
                <h3>Product Owner</h3>
                <p class="text-faded">01/2024 - Present<br>Promptly Health | Porto, Portugal</p>
                <ul class="text-faded">
                    <li>Managed a secure data environment data harmonization, AI, and analysis product team using Agile method</li>
                    <li>Main responsibilities include backlog management, sprint management, task creation and delegation, roadmap and KPI definition</li>
                    <li>Technical guidance on setting up a secure data environment on client premises, data harmonization, pipeline and modeling, AI pipeline building, data analysis, visualization, and dashboarding (business intelligence)</li>
                    <li>Involved in tender applications, client communication, and priority definition</li>
                    <li>Involved in generating evidence through analytical products, R&D tasks, publications, and R&D applications</li>
                </ul>

                <h3>Data Scientist and Engineer</h3>
                <p class="text-faded">06/2022 – Present<br>Promptly Health | Porto, Portugal</p>
                <ul class="text-faded">
                    <li>Responsible for design and implementation of data pipelines and all ETL steps (extract, transform, load)</li>
                    <li>Involved in the design and deployment of a full Secure Data Environment on client premises, from data export, harmonization, analysis, and visualization</li>
                    <li>EHDEN project lead including implementation, team management, and client communication</li>
                    <li>Technical lead for any OMOP-CDM data model-related tasks</li>
                    <li>R&D projects including detection of biometric signals from face video using computer vision, detection of atrial fibrillation from fingertip video captured by smartphone, and automatic medical vocabulary mapping using transformer-based technologies</li>
                </ul>

                <h3>Associate Laboratory MSc Thesis Research Student</h3>
                <p class="text-faded">09/2021 – 06/2022<br>INESC Technology and Science | Porto, Portugal</p>
                <ul class="text-faded">
                    <li>The objective of the study was to develop AI-based models to predict the outcomes of Traumatic Brain Injury during the patient stay in ICU to aid clinical decision making and ultimately improve patient care</li>
                    <li>Implementation of explainable methods to allow clinicians to understand and trust the model’s decisions</li>
                    <li>Combined multi-modality information of TBI patients to predict patient outcomes in advance using classical ML models like KNN, Random Forest, and LSTM</li>
                </ul>

                <h3>Associate Laboratory MSc Research Student</h3>
                <p class="text-faded">University of Twente / Radboud | Enschede, Netherlands</p>
                <ul class="text-faded">
                    <li>Internship with the Biomedical Signals and Systems group at the UT, along with the PROMPT project for detecting and predicting freezing of gait in Parkinson patients</li>
                    <li>My research focused on multimodal acquisition of EEG/fNIRS in healthy controls during motor and cognitive tasks, aiming at neuronal reconstruction of finger movement activity</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Education, Certifications, and Skills</h2>
                <hr class="light">
                <p class="text-faded">
                    Faculdade de Engenharia da Universidade do Porto | MSc Graduated 06/2022<br>GPA: 18.5 out of 20
                </p>
                <h3>Software Skills</h3>
                <p class="text-faded">
                    dbt | SQL | Python | Airflow | Dagster | Mage | Jira | Gitlab | GitHub | Pytorch/Keras/Tensorflow | Superset | PowerBI | Gooddata | Docker | K8s | ArgoCD | Kafka | RabbitMQ
                </p>
                <h3>Technical Skills</h3>
                <p class="text-faded">
                    Data Science | Cloud Computing | Data Analysis | IT Project Management | Agile Methodologies | Virtualization | AWS Services | Google Services
                </p>
                <h3>Soft Skills</h3>
                <p class="text-faded">
                    Communication | Teamwork | Problem-solving | Adaptability | Leadership | Time Management
                </p>
            </div>
        </div>
    </div>
</section>

<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="light">
                <p class="text-faded">
                    "Learning Models for Traumatic Brain Injury Mortality Prediction on Pediatric Electronic Health Records", Frontiers in Neurology (2022) - First Author, Published, Closed Access<br>
                    “Mortality prediction using medical time series on TBI patients”, Computer Methods and Programs in Biomedicine (2023) - First Author, Published, Open Access<br>
                    “Towards Machine Learning-Aided Lung Cancer Clinical Routines: Approaches and Open Challenges", Journal of Personalized Medicine (2022) - Co Author, Published, Open Access
                </p>
            </div>
        </div>
    </div>
</section>

<section id="awards">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Awards</h2>
                <hr class="light">
                <p class="text-faded">
                    Outstanding MSc Thesis Award by IEEE, “AI-Based Models to Predict The Traumatic Brain Injury Outcome”, 2022
                </p>
            </div>
        </div>
    </div>
</section>