<section class="bg-primary" id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Education</h2>
                <hr class="dark">
                <img src="img/education/feup.png" alt="feup" width="360" padding="100">
                <p class="text-dark">
                    MSc in Bioengineering <br><br> Graduated 06/2022 <br><br> GPA: 18.5 out of 20
                </p>
            </div>
        </div>
    </div>
</section>