<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>João Fonseca</h1>
            <h4>CV & Tech Portfolio</h4>
            <hr>
            <p>Bioengineer by training, turned data engineer/scientist with a twist on health data product ownership, development and nurturing incredible teams!</p>
            <div class="button-wrapper">
                <a href="#about" class="btn btn-primary btn-xl page-scroll">CV</a>
                <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Portfolio</a>
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contacts</a>
            </div>
        </div>
    </div>
</header>
