<style>
    #publications a {
        color: #f8f9fa; /* Light color for visibility on dark background */
        text-decoration: underline; /* Underline to show it's a link */
    }

    #publications a:hover {
        color: #1abc9c; /* Change color on hover */
        text-decoration: none; /* Optionally remove underline on hover */
    }
</style>

<section class="bg-dark" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Publications and Awards</h2>
                <hr class="light">
                <ul class="list-unstyled text-faded">
                    {% for pub in site.data.data.publications %}
                    <p>
                        <strong><a href="{{ pub.url }}" target="_blank">"{{ pub.title }}"</a></strong>
                        <br>
                        {{ pub.journal }} ({{ pub.year }}) - {{ pub.role }}, Published, {{ pub.access }}
                    </p>
                    {% endfor %}
                    {% for award in site.data.data.awards %}
                    <p>
                        <strong>{{ award.title }}</strong>
                        <br>
                        "{{ award.description }}", {{ award.year }}
                    </p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
