<style>
    #publications a {
        color: #f8f9fa; /* Light color for visibility on dark background */
        text-decoration: underline; /* Underline to show it's a link */
    }

    #publications a:hover {
        color: #1abc9c; /* Change color on hover */
        text-decoration: none; /* Optionally remove underline on hover */
    }
</style>

<section class="bg-dark" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Publications and Awards</h2>
                <hr class="light">
                <ul class="list-unstyled text-faded">
                    <p>
                        <strong><a href="https://pubmed.ncbi.nlm.nih.gov/35756926/" target="_blank">"Learning Models for Traumatic Brain Injury Mortality Prediction on Pediatric Electronic Health Records"</a></strong>
                        <br>
                        Frontiers in Neurology (2022) - First Author, Published, Closed Access
                    </p>
                    <p>
                        <strong><a href="https://www.sciencedirect.com/science/article/abs/pii/S0169260723004728?via%3Dihub" target="_blank">“Mortality prediction using medical time series on TBI patients”</a></strong>
                        <br>
                        Computer Methods and Programs in Biomedicine (2023) - First Author, Published, Open Access
                    </p>
                    <p>
                        <strong><a href="https://www.mdpi.com/2075-4426/12/3/480" target="_blank">“Towards Machine Learning-Aided Lung Cancer Clinical Routines: Approaches and Open Challenges"</a></strong>
                        <br>
                        Journal of Personalized Medicine (2022) - Co Author, Published, Open Access
                    </p>
                    <p>
                        <strong><a href="https://ieee-pt.org/2022/11/25/ieee-portugal-outstanding-msc-awards-2022/" target="_blank">IEEE Portugal Outstanding MSc Thesis Award 2022</a></strong>
                        <br>
                        AI-Based Models to Predict The Traumatic Brain Injury Outcome
                    </p>
                </ul>
            </div>
        </div>
    </div>
</section>