<!-- Software Skills Section -->
<section id="software_skills" class="bg-primary">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary">Skills</h2>
                <hr class="primary">
            </div>
        </div> -->
        <!-- Software Skills -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary">Software Skills</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/dbt.svg" alt="dbt" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/sql.svg" alt="SQL" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/python.svg" alt="Python" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/airflow.svg" alt="Airflow" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/dagster.svg" alt="Dagster" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/mage.png" alt="Mage" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/jira.svg" alt="Jira" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/gitlab.svg" alt="GitLab" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/github.svg" alt="GitHub" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/superset.png" alt="Superset" width="120">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/docker.svg" alt="Docker" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/k8s.svg" alt="Kubernetes" width="60">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/argocd.svg" alt="ArgoCD" width="60">
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/kafka.svg" alt="Kafka" width="60">
                    <h4 class="text-light">Kafka</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/skills/rabbitmq.svg" alt="RabbitMQ" width="60">
                    <h4 class="text-light">RabbitMQ</h4>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- Technical Skills Section -->
<section id="tech_skills" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Technical Skills</h2>
                <hr class="light">
            </div>
        </div>
        <!-- Technical Skills -->
        <div class="row">
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-database fa-3x text-light"></i>
                    <h4 class="text-light">Data Science</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-cloud fa-3x text-light"></i>
                    <h4 class="text-light">Cloud Computing</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa-solid fa-magnifying-glass fa-3x text-light"></i>
                    <h4 class="text-light">Data Analysis</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa-solid fa-diagram-project fa-3x text-light"></i>
                    <h4 class="text-light">Project Management</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <!-- <img src="img/skills/agile.svg" alt="agile" width="120"> -->
                    <i class="fa-solid fa-arrows-split-up-and-left fa-3x text-light"></i>
                    <h4 class="text-light">Agile Methodologies</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-server fa-3x text-light"></i>
                    <h4 class="text-light">Virtualization</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <!-- <img src="img/skills/aws.svg" alt="aws" width="120"> -->
                    <i class="fa-brands fa-aws fa-3x text-light"></i>
                    <h4 class="text-light">AWS Services</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa-brands fa-google fa-3x text-light"></i>
                    <h4 class="text-light">Google Services</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Soft Skills Section -->
<section id="soft_skills" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary">Soft Skills</h2>
                <hr class="primary">
            </div>
        </div>
        <!-- Soft Skills -->
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-comments fa-4x text-primary"></i>
                    <h4 class="text-light">Communication</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-users fa-4x text-primary" data-wow-delay=".1s"></i>
                    <h4 class="text-light">Teamwork</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-lightbulb fa-4x text-primary" data-wow-delay=".2s"></i>
                    <h4 class="text-light">Problem-solving</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-hourglass-half fa-4x text-primary" data-wow-delay=".2s"></i>
                    <h4 class="text-light">Time Tracking and Prioritization</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-adjust fa-4x text-primary" data-wow-delay=".3s"></i>
                    <h4 class="text-light">Adaptability</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-clock fa-4x text-primary" data-wow-delay=".4s"></i>
                    <h4 class="text-light">Time Management</h4>
                </div>
            </div>
        </div>
    </div>
</section>
